<div class="cv_conWrap01">
  <div class="cv_contentsWrap padding16 margin10">
    <!-- web contents area -->
    <div class="catuionBox">
      <h2 class="tit"><span style="font-size:.7rem;">●</span> 글 쓰기 주의사항</h2>
      <div class="notiWrap">
        <p>
          아래의 내용을 모두 지켜서 글을 작성해 주세요.<br/><br/>
          [커뮤니티 이용규칙에 어긋나는 행위 금지]<br/>
          1. 욕설, 비하, 음란물, 개인정보가 포함된 게시물 게시<br/>
          2. 특정인이나 단체/지역을 비방하는 행위<br/>
          3. 기타 현행법에 어긋나는 행위<br/><br/>

          [정보통신망법에 의한 홍보 게시물 작성 금지]<br/>
          1. 회사/단체와 관련된 공모전, 대외활동, 구인, 펀딩 홍보<br/>
          2. 커뮤니티, 어플, 쇼핑몰, 카페, 블로그 홍보 및 방문유도<br/>
          3. 토익, 한자 등 어학원 홍보<br/>
          4. 연극, 영화 티켓 할인 서비스 홍보<br/>
          5. 안과, 치과, 피부과 등 의료업체 홍보<br/><br/><br/><br/>
          
          1. C-Voting은 가톨릭대 주인이 직접 만들어가는 공간입니다.<br/><br/>

          - C-Voting은 학우들의 자정 능력을 존중합니다. 깨끗한 커뮤니티를 위해 노력해주시기 바랍니다.<br/>
          - 학우들은 서로 예의를 지키고, 존중해야 합니다.<br/><br/><br/>


          2. 다음 목록에 해당하는 게시물의 게시를 금지하고 있습니다.<br/><br/>

          - 욕설, 비아냥, 비속어 등 예의범절에 벗어난 게시물<br/>
          - 혐오스럽거나 타 회원을 놀라게 하는 게시물<br/>
          - 성적 비하를 포함하는 게시물<br/>
          - 불건전한 만남, 대화, 통화 등을 목적으로 하는 게시물<br/>
          - 특정인이나 단체/지역 등을 비방하는 게시물<br/>
          - 중복글, 도배글, 낚시글, 내용 없는 게시물<br/>
          - 익명을 악용한 여론 조작<br/>
          - 관련법에 위배되거나, 타인의 권리를 침해하는 게시물(초상권, 저작권 등)<br/>
          - 허가되지 않은 광고/홍보물 및 회사/상업체 연관 게시물 또는 이와 유사한 간접 홍보, 바이럴 게시물 일체 (타 서비스 및 사이트, 공동구매, 이벤트, 티켓판매, 참가비, 구인, 채용, 공모전, 대외활동, 아카데미 등)<br/>
          - 허가되지 않은 기부금품 모집 게시물<br/>
          - 논란 및 분란을 일으킬 수 있는 게시물<br/>
          - 청소년유해매체물, 외설, 음란물, 음담패설, 신체사진<br/>
          - 관리자를 사칭하는 게시물<br/>
          - 기타 부적합한 게시물<br/><br/><br/>

          3. 다음 목록에 해당하는 규칙을 지켜야 합니다.<br/><br/>
          - 타인의 개인정보 및 계정을 수집, 저장, 공개, 이용하거나, 자신의 개인정보 및 계정을 공개, 공유해서는 안 됩니다.<br/><br/><br/>

          4. 관리자 권한<br/><br/>
          - 관리자는 신고 접수가 된 게시물에 한하여 심의를 통해 임의로 삭제할 수 있습니다.<br/>
          - 관리자는 신고 접수 외에 게시 금지 항목에 해당하는 글에 대해 강제 삭제할 수 있습니다.<br/><br/><br/>
          
          5. 게시물 신고 제도<br/><br/>
          - 커뮤니티 이용규칙에 어긋난다고 생각하는 게시물은 신고 버튼을 이용하여 신고해주시기 바랍니다.<br/>
          - 모든 신고는 자동신고시스템을 통해 자동으로 처리됩니다. 회원의 요청에 따라 게시물을 삭제하지 않습니다.<br/>
          - 신고가 누적된 회원은 접근 제한 등의 제재가 가해질 수 있습니다.<br/>
          - 신고 제도를 악용할 경우, 해당 신고는 처리되지 않습니다. 신고 제도를 악용한 회원은 제재가 가해질 수 있습니다.<br/><br/><br/>

          6. 허위사실 유포 및 명예훼손 게시물에 대한 게시중단 요청<br/><br/>
          - 허위사실 유포 및 명예훼손 등 권리를 침해하는 게시물의 게시중단을 원하실 경우, 관리자 쪽지를 통해 게시중단 요청을 전달주시기 바랍니다.<br/>
          - 게시중단 요청 시 사실을 증명할 수 있는 자료를 같이 보내주셔야 합니다.<br/>
          - 게시중단 요청은 담당자를 통해 접수된 순서에 따라 처리됩니다.<br/>
          - 허위사실 유포 및 명예훼손에 해당하지 않는다고 판단되는 경우, 해당 게시물은 게시중단 처리되지 않습니다.<br/>
        </p>
      </div>
      <div class="agreeBox">
        <label>
          <input type="checkbox" id="chkAgree" (change)="agreeCheck($event)"><span>위 내용에 동의합니다.</span>
        </label>
      </div>
    </div>
    <fieldset class="writeForm01">
        <legend>발의 등록</legend>
        <label><span class="tit">작성자</span><input type="text" class="writer" id="wrtier" name="" placeholder="작성자를 입력해주세요."></label>
        <label><span class="tit">제목</span><input type="text" class="subject" id="subject" name="" placeholder="제목을 입력해주세요."></label>
        <label class="content"><span class="tit">내용</span><textarea rows="8" cols="80" id="content" placeholder="내용을 입력해주세요."></textarea></label>
        <label><button type="button" class="btn_attach" (click)="callGallery()"></button><span>{{ imgName }}</span></label>
    </fieldset>
    <!-- bottom -->
    <div class="c_btn">
      <button type="button" class="btn01" (click)="validationCheck()"><span>완료</span></button>
      <button type="button" class="btn01" (click)="isCancelAlert=true"><span>취소</span></button>
    </div>
    <!-- //bottom -->
  </div>
  <!-- //web contents area -->
</div>

<!-- system popup style -->
<div [class.cv_none]="!isCancelAlert" class="cv_popWrap">
	<!-- popup box -->
	<div class="cv_popbox">
		<!-- popup contents -->
		<div class="cv_popcont">
			<p>글쓰기를 취소하시겠습니까?</p>
		</div>
		<!-- //popup contents -->
		
		<!-- popup button -->
		<div class="cv_popbtn">
			<button type="button" (click)="movePage('main')"><span>확인</span></button><!-- 메인 화면으로 이동 -->
			<button type="button" class="cv_btn_cancel" (click)="isCancelAlert=false"><span>취소</span></button>
		</div>
		<!-- //popup button -->
	</div>
	<!-- //popup box -->
</div>
<!-- //system popup style -->

<!-- system popup style -->
<div [class.cv_none]="!isAgreeAlert" class="cv_popWrap">
	<!-- popup box -->
	<div class="cv_popbox">
		<!-- popup contents -->
		<div class="cv_popcont">
			<p>주의사항에 동의해주세요.</p>
		</div>
		<!-- //popup contents -->
		
		<!-- popup button -->
		<div class="cv_popbtn">
			<button type="button" (click)="isAgreeAlert=false"><span>확인</span></button>
		</div>
		<!-- //popup button -->
	</div>
	<!-- //popup box -->
</div>
<!-- //system popup style -->

<!-- system popup style -->
<div [class.cv_none]="!isValidationAlert" class="cv_popWrap">
	<!-- popup box -->
	<div class="cv_popbox">
		<!-- popup contents -->
		<div class="cv_popcont">
			<p>{{ validationMsg }}</p>
		</div>
		<!-- //popup contents -->
		
		<!-- popup button -->
		<div class="cv_popbtn">
			<button type="button" (click)="isValidationAlert=false"><span>확인</span></button>
		</div>
		<!-- //popup button -->
	</div>
	<!-- //popup box -->
</div>
<!-- //system popup style -->