<div class="cv_conWrap01">
  <div class="cv_contentsWrap">
    <!-- web contents area -->
    <div class="contentsBox">
      <div class="catuionBox">
        <h2 class="tit">● 주의사항</h2>
        <div class="notiWrap">
          <p>주의사항ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</p>
        </div>
        <div class="agreeBox">
          <label>
            <input type="checkbox" id="" name=""><span>위 내용에 동의합니다.</span>
          </label>
        </div>
      </div>
      <div class="registCon">
        <fieldset class="writeForm01">
            <legend>발의 등록</legend>
            <label><span>제목</span><input type="text" id="" name="" placeholder="제목을 입력해주세요."></label>
            <label><span>내용</span><textarea rows="5" cols="80" placeholder="내용을 입력해주세요."></textarea></label>
        </fieldset>
      </div>
    </div>
  </div>
  <!-- bottom fix -->
  <div class="c_btn">
    <button type="button" class="btn01"><span>완료</span></button>
    <button type="button" class="btn01"><span>취소</span></button>
  </div>
  <!-- //bottom fix -->
</div>

