<div class="subWrap01 topfixWrap">
    <!-- top fix area -->
    <div class="topfix">
        <div class="webcontainer">
          <!-- tab -->
          <div class="tab01 item3">
            <div>
              <ul>
                <li [class.on]="selected_menu == '/module/initiative'" (click)="onClickNavigateMenu('/module/initiative')"><button type="button"><span>발의</span></button></li>
                <li [class.on]="selected_menu == '/module/review'" (click)="onClickNavigateMenu('/module/review')"><button type="button"><span>심의</span></button></li>
                <li [class.on]="selected_menu == '/module/vote'" (click)="onClickNavigateMenu('/module/vote')"><button type="button"><span>의결</span></button></li>
              </ul>
            </div>
          </div>
          <!-- //tab -->
        </div>
      </div>
    <!-- //top fix area -->
  </div>
  <!-- <router-outlet></router-outlet> -->