<div class="cv_conWrap01 titleWrap">
  <!-- header area -->
  <header class="cv_title">
    <h3 class="cv_tit">발의</h3>
    <div class="cv_head_left">
      <button type="button" class="btn_back" (click)="onClickNavigateMenu('main')"><span>Previous</span></button>
    </div>
  </header>
  <!-- //header area -->

  <!-- web contents area -->
  <div class="cv_contentsWrap padding16">
    <!-- detail info -->
    <div class="cv_column cv_detail_info">
      <div class="subject"><span>{{ subject }}</span></div>
      <div class="cv_reg_info">
        <div class="name"><span>{{ writer }}</span></div>
        <div class="date"><span>{{ regDate | dateFormat:'mmddhhss' }}</span></div>
        <div class="cv_btn_star"><p>{{ recommandCnt }}</p></div>
      </div>
    </div>
    <!-- //detail info -->

    <!-- detail image -->
    <div [class.cv_none]="detailImg == ''" class="cv_column cv_detail_img"><img src="assets/common/images/posts/{{ detailImg }}" alt="detail image"></div>
    <!-- //detail image -->

    <!-- detail contents -->
    <div class="cv_column cv_detail_txt">
      <p [innerHTML]='content | enterToBr'></p>
    </div>
    <!-- //detail contents -->
  </div>
  <!-- //web contents area -->

  <!-- bottom fix area -->
  <div class="cv_bottomFixWrap">
    <div class="btn_area">
      <button type="button" class="cv_btn_star" [class.on]="isRecommendFlag" (click)="isRecommendAlert=true"><span>추천하기</span></button>
    </div>
  </div>
  <!-- //bottom fix area -->
</div>

<!-- system popup style -->
<div [class.cv_none]="!isRecommendAlert" class="cv_popWrap">
	<!-- popup box -->
	<div class="cv_popbox">
		<!-- popup contents -->
		<div class="cv_popcont">
			<p>이 글을 추천하시겠습니까?</p>
		</div>
		<!-- //popup contents -->
		
		<!-- popup button -->
		<div class="cv_popbtn">
			<button type="button" (click)="recommend()"><span>확인</span></button>
			<button type="button" class="cv_btn_cancel" (click)="isRecommendAlert=false; isRecommendFlag=false;"><span>취소</span></button>
		</div>
		<!-- //popup button -->
	</div>
	<!-- //popup box -->
</div>
<!-- //system popup style -->