<div class="cv_conWrap01 titleWrap">
  <!-- header area -->
  <header class="cv_title">
    <h3 class="cv_tit">의결</h3>
    <div class="cv_head_left">
      <button type="button" class="btn_back"><span>Previous</span></button>
    </div>
  </header>
  <!-- //header area -->

  <!-- web contents area -->
  <div class="cv_contentsWrap padding16 cv_vote">
    <!-- detail info -->
    <div class="cv_column cv_detail_info">
      <div class="subject"><span>밤에 건물 불을 켜주세요.</span></div>
      <div class="cv_vote_info">
        <dl>
          <dt>
            <span>김민지(학부생)</span>
          </dt>
          <dd>
            <span>총 참여 721명</span>
          </dd>
        </dl>
        <dl>
          <dt>
            <span>10/10 21:08</span>
          </dt>
          <dd>
            <span>조회수 1,095</span>
          </dd>
        </dl>
      </div>
    </div>
    <!-- //detail info -->

    <!-- detail image -->
    <div class="cv_column cv_detail_img"><img src="../../../assets/common/images/tree_02.jpg" alt="detail image"></div>
    <!-- //detail image -->

    <!-- detail contents -->
    <div class="cv_column cv_detail_txt">
      <p>
        오래 전부터 늦게 하교를 할 때면 항상 니콜스 안이 어두워서 무섭기도 하고 불편하기도 했습니다. 과제와 공부를 하다가 집에 늦게 가는 학생들이 많을텐데 학교측은 전기절약을 한다는 이유로 밤에 불을 켜지 않고 있습니다.
        겨울이라 해가 더 일찍 지고 빨리 어두워지는 요즘, 밤에도 안전하게 밝은 건물에서 집으로 향할 수 있도록 해주세요.
        오래 전부터 늦게 하교를 할 때면 항상 니콜스 안이 어두워서 무섭기도 하고 불편하기도 했습니다. 과제와 공부를 하다가 집에 늦게 가는 학생들이 많을텐데 학교측은 전기절약을 한다는 이유로 밤에 불을 켜지 않고 있습니다.
        겨울이라 해가 더 일찍 지고 빨리 어두워지는 요즘, 밤에도 안전하게 밝은 건물에서 집으로 향할 수 있도록 해주세요.
        오래 전부터 늦게 하교를 할 때면 항상 니콜스 안이 어두워서 무섭기도 하고 불편하기도 했습니다. 과제와 공부를 하다가 집에 늦게 가는 학생들이 많을텐데 학교측은 전기절약을 한다는 이유로 밤에 불을 켜지 않고 있습니다.
        겨울이라 해가 더 일찍 지고 빨리 어두워지는 요즘, 밤에도 안전하게 밝은 건물에서 집으로 향할 수 있도록 해주세요.
        오래 전부터 늦게 하교를 할 때면 항상 니콜스 안이 어두워서 무섭기도 하고 불편하기도 했습니다. 과제와 공부를 하다가 집에 늦게 가는 학생들이 많을텐데 학교측은 전기절약을 한다는 이유로 밤에 불을 켜지 않고 있습니다.
        겨울이라 해가 더 일찍 지고 빨리 어두워지는 요즘, 밤에도 안전하게 밝은 건물에서 집으로 향할 수 있도록 해주세요.
      </p>
    </div>
    <!-- //detail contents -->
  </div>
  <!-- //web contents area -->

  <!-- bottom fix area -->
  <div class="cv_bottomFixWrap cv_vote">
    <div class="btn_area">
      <div class="left_area">
        <span>총학생회</span><br/>
        <div class="icon_review on"><span>검토 중</span></div>
        <div class="icon_review_comple"><span>검토 완료</span></div>
      </div>
      <div class="right_area">
        <span>학교 본부</span>
        <div class="icon_review"><span>검토 중</span></div>
        <div class="icon_review_comple"><span>검토 완료</span></div>
      </div>
    </div>
  </div>
  <!-- //bottom fix area -->
</div>

<!-- system popup style -->
<div [class.cv_none]="!isRecommandlAlert" class="cv_popWrap">
	<!-- popup box -->
	<div class="cv_popbox">
		<!-- popup contents -->
		<div class="cv_popcont">
			<p>이 글을 추천하시겠습니까?</p>
		</div>
		<!-- //popup contents -->
		
		<!-- popup button -->
		<div class="cv_popbtn">
			<button type="button"><span>확인</span></button>
			<button type="button" class="cv_btn_cancel" (click)="isRecommandlAlert=false"><span>취소</span></button>
		</div>
		<!-- //popup button -->
	</div>
	<!-- //popup box -->
</div>
<!-- //system popup style -->