<div class="cv_conWrap01 titleWrap">
  <!-- header area -->
  <header class="cv_title">
    <h3 class="cv_tit">의결</h3>
    <div class="cv_head_left">
      <button type="button" class="btn_back" (click)="onClickNavigateMenu('back')"><span>Previous</span></button>
    </div>
  </header>
  <!-- //header area -->

  <!-- web contents area -->
  <div class="cv_contentsWrap padding16 cv_vote">
    <!-- detail info -->
    <div class="cv_column cv_detail_info">
      <div class="subject"><span>{{ subject }}</span></div>
      <div class="cv_vote_info">
        <dl>
          <dt>
            <span>{{ writer }}</span>
          </dt>
          <dd>
            <span>총 참여 {{ totalPartiCnt }}명</span>
          </dd>
        </dl>
        <dl>
          <dt>
            <span>{{ regDate | dateFormat:'mmddhhss' }}</span>
          </dt>
          <dd>
            <span>조회수 {{ viewsCnt | toComma }}</span>
          </dd>
        </dl>
      </div>
    </div>
    <!-- //detail info -->

    <!-- detail image -->
    <div class="cv_column cv_detail_img">
      <img *ngIf="isAttach == 'Y'" src="file://{{ detailImg }}" alt="detail image">
      <img *ngIf="isAttach == 'N' || isAttach == '' || isAttach == undefined || isAttach == null" src="assets/common/images/posts/{{ detailImg }}" alt="detail image">
    </div>
    <!-- //detail image -->

    <!-- detail contents -->
    <div class="cv_column cv_detail_txt">
      <p class="detailCon" [innerHTML]='content | enterToBr'></p>
      <hr>
      <!-- reply contents-->
      <img class="reply" src="assets/common/images/icon_reply.png" alt="reply image">
      <ul class="replyCon">
        <li>총학생회</li>
        <li [innerHTML]='studentsReplyContent | enterToBr'></li>
      </ul>
      <!-- //reply contents -->
    </div>
    <!-- //detail contents -->
  </div>
  <!-- //web contents area -->

  <!-- bottom fix area -->
  <div class="cv_bottomFixWrap cv_vote">
    <div class="btn_area">
      <div class="left_area">
        <span>총학생회</span><br/>
        <div class="icon_review"><span>검토 중</span></div>
        <div class="icon_review_comple on"><span>검토 완료</span></div>
      </div>
      <div class="right_area">
        <span>학교 본부</span>
        <div class="icon_review on"><span>검토 중</span></div>
        <div class="icon_review_comple"><span>검토 완료</span></div>
      </div>
    </div>
  </div>
  <!-- //bottom fix area -->
</div>