<div class="cv_conWrap01 titleWrap">
    <!-- header area -->
    <header class="cv_title">
      <h3 class="cv_tit">검색</h3>
      <div class="cv_head_left">
        <button type="button" class="btn_back" (click)="onClickNavigateMenu('back')"><span>Previous</span></button>
      </div>
    </header>
    <!-- //header area -->
    <div class="cv_contentsWrap">
      <!-- web contents area -->
      <div class="cv_webcontainer">
        <div class="cv_topfix_02">
          <div class="searchBox" >
            <input type="text" placeholder="검색어를 입력해주세요.">
            <button type="button"><span>Search</span></button>
          </div>
        </div>
        <div class="cv_container01">
          <div class="cv_search_result">
            <h3 class="cv_tit">검색 결과</h3>
            <ul class="cv_list01 cv_none">
              <li><button type="button"><span>발의결과</span></button></li>
              <li><button type="button"><span>심의 내용은</span></button></li>
              <li><button type="button"><span>휴지통에 넣어주세요</span></button></li>
            </ul>
            <div class="cv_no_result">검색 결과가 없습니다.</div>
          </div>
        </div>
      </div>
    </div>
</div>
